* {
    margin: 0;
    padding: 0;
}
  html,
  body {  
    height: 100%;
}



.wrapper {
    position: relative;
    width: 1100px;
    height: 2080px;
    min-height: 100%;
    margin: auto;

}

header { 
    width: 100%;
    height: 77px;
    background-color: #4b73b5;

}

.header {
    width: 1100px;
    height: 77px;
}

.header__logo {
    position: absolute;
    float: left;
    max-width: 130px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 18px;
}


.header__contacts {  
    margin-top: 20px;
    margin-right: 21px;      
    margin-left: 906px;
    width: 173px;
    height: 35px;
    margin-bottom: auto;
}

.header__contacts__phone {
    width: 173px;
    height: 22px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
}

.header__contacts-button {
    float: right;
}

.title {
    width: 500px;
    height: 47px;
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 20px;
}

.container {
    position: relative;
    height: 2000px;
}

.sidebar {
    position: absolute;
    float: left;
    width: 106px;
    left: 18px;
    right: 1059px;
}

.main-img {
    position: absolute;
    left:199px;
    padding-top: 13px;
    padding-bottom: 16px;
}

.main__content {
    position: relative;
    top: 404px;
    left: 199px;
    right: 23px;
    width: 880px;
    min-height: 100%;
}

.tariffs {
    position: absolute;
    left: 0px;
    right: 153px;
    width: 760px;
    height: 530px;
}

.tariffs__offers__img-pic {
    display:block; 
    margin:15px auto 25px;
}

.tariffs__offers {
    position: relative;
    left: 0px;
    width: 250px;
    height: 456px;
    float: left;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}

.tariffs__offers__information {
    text-align: center;
}

.tariffs__offers__price {
    text-align: center;
}

.feeds {
    position:  relative;
    top: 600px;
    right: 23px;
    width: 880px;
    height: 724px;
}

.feeds__news__item {
    position: relative;
    width: 820px;
    height: 160px;
    padding: 28px;
    list-style-type: none;
}

.feeds__news__item__description {
    position: relative;
    width: 600px;
    height: 160px;
    float: left;
    padding: 20px;
}

.feeds__news__item__avatar {
    position: relative;
    float: left;
}

.pagination {
    position: relative;
    top: 10px;
    left: 270px;
    width: 600px;
    height: 50px;
    text-align: center;
}


.pagination__display { 
    position: relative;
    float: left;
    width: 120px;
    height: 20px;
}

.pagination__controlls {
    position: relative;
    float: left;
    left: 30px;
    width: 450px;
    height: 20px;
}

.pagination__controlls__list {
    position: relative;
    float: left;
    width: 150px;
    height: 16.5px;
}

.pagination__controlls__list__item {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    list-style-type: none;
}

.pagination__controlls__item__prev {
    position: relative;
    float: left;
}

.pagination__controlls__item__next {
    position: relative;
    float: left;
}


.footer {
    position: relative;
    width: 1100px;
    height: 0px;
    margin: 0 auto;
    float: left;
    text-align: center;
    padding-bottom: 80px;
    background-color: #4b73b5;
    list-style-type: none;

footer__social {
    position: relative;
    width: 200px;
    float: left;
    list-style-type: none;
}
.info {
    position: absolute;
    width: 20%;
    float: left;
}

footer__logo {
    position: absolute;
    width: 200px;
    margin: 0 auto;
}
