* {
    margin: 0;
    padding: 0;
}
  html,
  body {
    height: 100%;
}
.wrapper {
    position: relative;
    width: 1100px;
    min-height: 100%;
    margin: auto;
}

.header {
    position: relative;
    height: 77px;
    background-color: #4b73b5;
}

.header__logo {
    position: absolute;
    float: left;
    max-width: 130px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 18px;
}


.header__contacts {  
    margin-top: 20px;
    margin-right: 21px;      
    margin-left: 906px;
    width: 173px;
    height: 35px;
    margin-bottom: auto;
}

.header__contacts__phone {
    width: 173px;
    height: 22px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
}

.header__contacts-button {
    float: right;
}

.container {
    position: relative;
    padding-bottom: 90px;
}

.sidebar {
    position: absolute;
    float: left;
    width: 106px;
    left: 18px;
    right: 1059px;
}

.main-img {
    position: absolute;
    left:199px;

    
}

.main__content {
    position: relative;
    top: 404px;
    left: 199px;
    right: 23px;
    width: 880px;
    height: 1500px;
}

.tariffs {
    position: absolute;
    left: 0px;
    right: 153px;
    width: 760px;
    height: 530px;
}

.tariffs__offers {
    position: relative;
    width: 250px;
    height: 456px;
    float: left;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}

.feeds {
    position:  absolute;
    top: 600px;
    right: 23px;
    width: 880px;
    height: 724px;
}

.pagination {
    position: relative;
    top: 20px;
    left: 100px;
    width: 600px;
    height: 50px;
}


.pagination__display {
    position:absolute;
    right: 550px;
    width: 150px;
    height: 20px;
}

.pagination__controlls {
    position: relative;
    left: 30px;
    width: 450px;
    height: 40px;
}

.pagination__controlls__list {
    position: absolute;
    left: 33px;
    bottom: 10px;
    width: 200px;
    height: 30px;
}

.pagination__controlls__list__item {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    list-style-type: none;
}

.pagination__controlls__item__next {
    position: relative;
    left: 170px;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1100px;
    height: 80px;

.social {
    position: absolute;
    float: left;
}
.info {
    position: absolute;
    right: 845px;
    width: 240px;
    float: left;
}
