


@font-face {
    font-family: 'Roboto';
    src: url('homework_airplane_/fonts/Roboto-Bold_1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('homework_airplane_/fonts/Roboto-LightItalic_1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('homework_airplane_/fonts/Roboto-Light_1.ttf');
    font-weight: normal;
    font-style: normal;
}
