.page {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    max-width: 74%;
    margin-left: 1.5%;
}
.section-crew {
    margin-top: 30px;
}

.crew {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 44px;
}
.title--feed {
    padding-top: 13px;
}
.members {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 253px;
    padding: 10px;
}
.members__description {
    text-align: center;
    margin-top: 25px;
}

.photo {
    display: block;
    width: 160px;
    height: 160px;
}

.members__photo-item {
    margin: 0 auto;
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: rgba(75, 115, 181, .6);
    border-radius: 50%;
    border: 2px solid #4b73b5;
    background-repeat: no-repeat;
    text-align: center;

    color: #fff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 165px;
    transition-duration: 0.7s;
}
.members__description {
    height: 65%;
}
.members__photo-item:hover {
    opacity: 0;
    transition-duration: 0.5s;
    cursor: pointer;
}

.members__description-name{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}
.members__desripion-position {
    color: #4b73b5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.members__description-content {
    font-family: Roboto-Light;
    font-weight: 300;
}


.partners {
    border: 1px solid #e8e9ed;
}
.partners__list {
    display: flex;
    flex-flow: column;
    /*justify-content: flex-end;
    align-items: center;
    align-content: space-between;*/
    margin-top: 25px;
}
.partners__list-logo-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
    list-style-type: none;
    max-width: 161px;
    margin-bottom: 18px;
}
.partners__list-logo-link:hover {
    cursor: pointer;
}
.partners__list-logo-link:nth-child(1) {
    flex-flow: column;
}