.page {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    max-width: 83%;
}
.crew {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 47px;


}
.members {
    margin-bottom: 34px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 260px;
    
}
.members__description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    text-align: center;
    margin-top: 25px;
}

.photo {
    display: block;
    width: 160px;
    height: 160px;
}
.members__photo {
    margin: 0 auto;
    width: 160px;
    height: 160px;
}
.members__photo-item {
    margin: 0 auto;
    position: absolute;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}
.members:nth-child(1) .members__photo-item{
    width: 160px;
    height: 160px;
    background-position: -175px -175px;
}
.members:nth-child(2) .members__photo-item{
    width: 160px;
    height: 160px;
    background-position: -345px -345px;
}
.members:nth-child(3) .members__photo-item{
    width: 160px;
    height: 160px;
    background-position: -345px -175px;
}
.members:nth-child(4) .members__photo-item{
    width: 160px;
    height: 160px;
    background-position: -175px -345px;
}
.members:nth-child(5) .members__photo-item{
    width: 160px;
    height: 160px;
    background-position: -5px -345px;
}
.members:nth-child(6) .members__photo-item{
    width: 160px;
    height: 160px;
    background-position: -515px -345px;
}
.members:nth-child(1) .members__photo-item:hover{
    opacity: 0;
}
.members:nth-child(2) .members__photo-item:hover{
    opacity: 0;
}
.members:nth-child(3) .members__photo-item:hover{
    opacity: 0;
}
.members:nth-child(4) .members__photo-item:hover{
    opacity: 0;
}
.members:nth-child(5) .members__photo-item:hover{
    opacity: 0;
}
.members:nth-child(6) .members__photo-item:hover{
    opacity: 0;
}
.members__description-name{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}
.members__desripion-position {
    color: #4b73b5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.members__description-content {
    font-family: Roboto-Light;
    font-weight: 300;
}


.partners {
    margin-bottom: 24px;
}
.partners__list {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-end;
    align-items: center;
    align-content: space-between;*/
    margin-top: 25px;
}
.partners__list-logo-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: 67px;
    margin-top: 20px;
    margin-bottom: 42px;
    list-style-type: none;
    margin-left: 66px;
    width: 161px;
    filter: grayscale(100%);
}
.partners__list-logo-link:hover {
    filter: grayscale(0)
}
.partners__list-logo-link:nth-child(1) {
    flex-flow: column;
}